.page.theme_dark {
  --color-primary: #000028;
  --color-secondary: #DB00FF;
  --color-tertiary: #000028;
  --color-highlight: #FF0070;
  --color-muted: #FF0070;
  --color-muted-hsl: hsl(333.647, 100%, 50%);
  --color-static: #FF0070;
  --color-neutral: #F1B2CE;
  --color-hider: #FF0070;
  --theme-background-1: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #000028;
    --color-secondary: #DB00FF;
    --color-tertiary: #000028;
    --color-highlight: #FF0070;
    --color-muted: #FF0070;
    --color-muted-hsl: hsl(333.647, 100%, 50%);
    --color-static: #FF0070;
    --color-neutral: #F1B2CE;
    --color-hider: #FF0070;
    --theme-background-1: url(../images/cover-image-dark.png);
  }
}