.page {
  max-width: 1024px;
  margin: 0px auto;
  font-family: 'IBM Plex mono', sans-serif;
  background-color: var(--color-primary);
  background-image: var(--theme-background-1);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header__title {
  font-size: 157px;
  font-weight: bold;
  text-shadow: 4px 4px var(--color-static);
  color: var(--color-secondary);
  margin-left: -20px;
  margin-top: 236px;
  margin-bottom: 77px;
}

.header__title-footer {
  font-size: clamp(157px, 10vw, 157px);
  font-weight: bold;
  text-shadow: 4px 4px var(--color-static);
  color: var(--color-secondary);
  text-align: center;
  margin-top: 251px;
  margin-bottom: 263px;
}

.header__theme-decoration {
  margin-right: 30px;
  font-size: 18px;
  position: absolute;
  top: 21px;
  right: 19px;
  color: var(--color-hider);
}

.header__theme-decoration::after {
  content: "";
  display: block;
  background-color: var(--color-hider);
  position: relative;
  width: 13px;
  height: 13px;
  top: -18px;
  right: -42px;
  border-radius: 50%;
  filter: blur(2px);
}

.header__subtitle {
  display: grid;
  justify-content: end;
  margin-bottom: 117px;
}

.header__subtitle_text {
  max-width: 490px;
}

.text-with-background {
  color: var(--color-tertiary);
  background-color: var(--color-highlight);
}

.text-without-background {
  color: var(--color-muted);
}

.text-ordinary {
  color: var(--color-neutral);
  line-height: 130%;
}

.text-size-18 {
  font-size: 18px;
}

.bold-text {
  font-weight: bold;
}

.regular-text {
  font-weight: normal;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.section-block {
  padding: 20px;
  position: relative;
  margin-bottom: 40px;
}

.section-block__grid-2-columns {
  display: grid;
  grid-template-columns: 32% 66%;
  gap: 20px;
}

.section-block__grid-3-columns {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  gap: 20px;
}

.grid-gap-20 {
  display: grid;
  gap: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "image-1 image-1 image-2"
    "image-4 image-3 image-2"
    "image-4 image-5 image-5";
}

.image-settings {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image-1 {
  grid-area: image-1;
}

.image-2 {
  grid-area: image-2;
}

.image-3 {
  grid-area: image-3;
}

.image-4 {
  grid-area: image-4;
}

.image-5 {
  grid-area: image-5;
}

.header__theme-menu {
  display: grid;
  justify-content: center;
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 9px;
}

.header__theme-menu-button {
  text-transform: lowercase;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--color-muted);
  padding: 0px 13px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--color-muted);
}

.decoration-borders::before {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  content: "";
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--color-muted);
  border-top: 1px solid var(--color-muted);
}

.decoration-borders::after {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 20px;
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--color-muted);
  border-left: 1px solid var(--color-muted);
}

@media (max-width: 768px) {
  .header__title {
    margin-top: 146px;
    margin-bottom: 133px;
    font-size: 120px;
  }

  .header__title-footer {
    font-size: clamp(120px, 10vw, 157px);
    margin-top: 407px;
    margin-bottom: 413px;
  }

  .header__subtitle_text {
    max-width: 364px;
  }

  .header__subtitle {
    margin-bottom: 164px;
  }

  .section-block__grid-3-columns {
    grid-template-columns: 1fr;
  }

  .section-block__grid-2-columns {
    grid-template-columns: 32.4% 65%;
  }

  .header__theme-menu {
    justify-content: end;
  }

  .header__theme-menu-list {
    grid-template-columns: 1fr;
    margin-top: 172px;
    gap: 13px;
  }
}

@media (max-width: 375px) {
  .header__title-footer {
    font-size: 116px;
    margin-top: 233px;
    margin-bottom: 246px;
  }

  .header__title {
    font-size: 31vw;
    margin-top: 66px;
    margin-bottom: 56px;
    margin-left: 0px;
    line-height: 96px;
  }

  .header__subtitle {
    margin-bottom: 59px;
  }

  .header__theme-menu-list {
    margin-top: 66px;
  }

  .section-block {
    padding: 10px;
    margin-bottom: 30px;
  }

  .decoration-borders::after {
    bottom: 10px;
    left: 10px;
  }

  .decoration-borders::before {
    top: 10px;
    right: 10px;
  }

  .section-block__grid-2-columns {
    grid-template-columns: 1fr;
  }

  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 10.6% 25.4% 17.2% 25.6% 17.1%;
    grid-template-areas: 
    "image-1"
    "image-2"
    "image-4"
    "image-3"
    "image-5";
    gap: 10px;
    margin-top: -10px;
  }
}